@media (max-width: 1200px) {}

@media (max-width: 991px) {}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 14px;
    }

    h1 {
        font-size: 1rem;
    }

    p {
        font-size: 0.875rem;
    }
}