/* Header do Site */
header {
    width: 100%;
    height: 5.5rem;
    background-color: var(--color-gray800);
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2021;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header .menu-mobile {
    display: none;
}

header nav ul {
    display: flex;
    margin-right: 2rem;
}

header nav ul li {
    margin-left: 1rem;
}

header nav ul li:first-child {
    margin-left: 0;
}

/* Hero */

.s-hero {
    margin: 5.5rem;
    padding: 4.5rem 0;
}

.s-hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s-hero .text {
    width: 100%;
    max-width: 640px;
}

.s-hero .text h1 {
    margin-bottom: 1.5rem;
}

.s-hero .text p {
    max-width: 488px;
    margin-bottom: 3.5rem;
    font-size: 1.12rem;
    line-height: 150%;
    color: var(--color-gray300);
}

.s-hero .btn-primary {
    padding: 1rem 2rem;
}

.s-hero .image {
    width: 100%;
    max-width: 488px;
    height: 496px;
    background-color: var(--color-gray800);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Featured Cards */

.card-featured {
    background-color: var(--color-gray100);
    padding: 4.5rem 0;
}

.container .main-area {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding-bottom: 4.5rem;
}

.card-featured .title {
    display: flex;
    flex-direction: column;
}

.card-featured .title.center {
    align-items: center;
}

.card-featured .title p {
    margin-top: 8px;
}

.card-featured p {
    color: var(--color-white-text);
}

.card-featured .all-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.card-featured .all-cards .card {
    width: 100%;
    max-width: 384px;
    height: 382px;
    background-color: var(--color-gray-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.card-featured .all-cards .card.white {
    background-color: var(--color-white);
}

.card-featured .all-cards .card .info {
    margin-top: 2.5rem;
}

.card-featured .all-cards .card .info h3 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.card-featured .all-cards .card.white h3 {
    color: var(--color-gray100);
}

.card-featured .all-cards .card .info p {
    text-align: center;
    color: var(--color-white-text);
    line-height: 150%;
}

.card-featured .all-cards .card.white p {
    color: var(--color-gray300);
}

/* Second area */

.second-area {
    padding: 4.5rem 0 0;
}

.second-area .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.second-area .all-imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.second-area .all-imgs .image {
    background-color: var( --color-gray200);
    width: 176px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Newsletter */

.newsletter {
    background-color: var(--color-gray200);
    padding: 6rem 2rem;
}

.newsletter .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter .container h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.newsletter .container p {
    text-align: center;
    color: var(--color-white-text);
    max-width: 694px;
    margin-bottom: 3rem;
}

.newsletter .btn-primary {
    padding: 1.75rem 4rem;
}

/* Footer */

footer {
    background-color: var(--color-gray100);
    padding: 4.5rem 0;
}

footer main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding-bottom: 4rem;
    margin-bottom: 2.5rem;
}

footer main .area-left {
    max-width: 25%;
}

footer main .area-left p {
    color: var(--color-white-text);
    line-height: 150%;
    margin-top: 2rem;
    font-size: 0.9rem;
}

footer main nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 60%;
}

footer nav .item h6 {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
    color: var(--color-white);
}

footer nav .item ul li {
    margin-bottom: 1.5rem;
}

footer nav .item ul li:last-child {
    margin-bottom: 0;
}

footer nav .item ul li a {
    font-family: 'Sora', sans-serif;
    color: var(--color-white-text);
    line-height: 105%;
    font-size: 0.9rem;
    transition: color .3s;
}

footer nav .item:last-child ul li a {
    display: flex;
    align-items: center;
}

footer nav .item ul li a:hover {
    color: var(--color-white);
}

footer nav .item:last-child ul li a span {
    margin-left: 0.5rem
}

footer .copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .copy p {
    color: var(--color-white);
}

footer .copy .group {
    display: flex;
    align-items: center;
}

footer .copy .group span {
    color: var(--color-white);
    margin-right: 0.5rem;
}