@import 'reset';
@import 'variables';

body {
    background-color: white;
    h1 {
        color: pink;
    }
}

.hero {
    .text {
        h1 {
            background-color: $main-color;
        }
        p {
            color: $second-color;
        }
        button {
            padding: 8px 32px;
            border: none;
            border-radius: 4px;
            background-color: $main-color;
            color: white;

            &:hover {
                background-color: $second-color;
            }
        }
    }
}