@import 'reset';
@import 'variables';

body {
    background-color: $main-color;
    h1 {
        color: pink;
    }
}

.hero {
    .text {
        h1 {
            background-color: $main-color;
        }
        p {
            color: $second-color;
        }
    }
}